<script src="https://giscus.app/client.js"
        data-repo="ohulab-org/ohulab-org.github.io"
        data-repo-id="R_kgDONuQqqw"
        data-category-id="DIC_kwDONuQqq84Cn0XT"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="{{ if eq .Site.Language.LanguageCode "zh-cn" }}zh-Hans{{ else if eq .Site.Language.LanguageCode "zh-tw" }}zh-Hant{{ else }}{{ .Site.Language.LanguageCode }}{{ end }}"
        async>
</script>